{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{%block headtag %} 
<!-- Custom styles for this template -->
<link href="{% static  "bootstrap/css/signin.css"%} rel="stylesheet">
{% endblock %}

{% block content %}

<!-- FROM TAG FOR CAPTURING THE LOGIN CREDENTIALS -->
<div class="container">
	<div class="table-responsive">
			<br><br><br><br><br><br>
			<table class="table">
			<tr>					
			<td>
	
					<form class="form-signin" method="post" action=".">
				 	<h1 class="form-signin-heading">Sign in</h1>
				 	{% csrf_token %} 
				 	{{ form.as_p }}
				    <input type="checkbox" value="remember-me"> Remember me
				    &nbsp;&nbsp;<button class="btn btn-default" type="submit">Sign in</button>
					</form>
					<hr>	
			</td>
			<td>&nbsp;
			<hr>	
			</td>
			<td>
					<form class="form-signin" method="post" action=".">
				 	<h1 class="form-signin-heading">Sign Up</h1>
				 	{% csrf_token %} 
				 	{{ form.as_p }}
				    <input type="checkbox" value="remember-me"> Remember me
				    <button class="btn btn-default" type="submit">Register Yourself</button>
					</form>
					<hr>			
			</td>

			</tr>

	</div>	
</div>
    
{% endblock %}



